
.footer {
    background-color: #224300; /* Assuming a green background */
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    padding-left: 90px;
    height: 40vh;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    
  }
  
  .footer .left-section {
    
    flex: 1;
  }
  .brand-details{gap:0px;}

  .sub-links {
    padding-right: 90px;
    padding-top: 30px;
  }
  
  .infosections{
        display: flex;
        gap: 19vh;
        margin-left: 0px;
        font-size: 20px;
        justify-content: center;
    
  }
  .infrolinks {
        display: flex;
        column-gap: 120px;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
  }
  .brand-name{
    font-size: 25px;
    text-align: start;
    font-family: 'Merienda', cursive;
  }
  .short-intro{
    font-family: 'Poppins', sans-serif;
    text-align: start;
    text-align: justify;
    font-size: 17px;
    
  }
  .footer ul {
    list-style: none;
    padding: 0px;
  }
  
  .footer-list {
    margin-bottom: 5px;
    text-align: start;
    font-size: 17px;
    
  }

  .footer ul li a {
    text-decoration: none;
    color: white;
    
    
  }
  
 
  .footer .copyright {
    margin-top: 10px;
    font-size: 12px;
  }