nav {
    display: flex;
    max-width: 1980px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    position: sticky;
    top: 0;
    text-shadow: 0 10px 10px 0;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
}

nav img {
    align-items: center;
    width:200px;
    height: 70px;
}
.nav-items{
    display: flex;
    height: 45px;
    padding-left: 250px;
    padding-right: 90px;
    justify-content: center;
    align-items:center;
    gap: 45px;
    flex-shrink: 0;
    list-style: none;
}
.nav-list{
    height: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #08462b;
    
    display: block;   
}
nav ul li a:hover {
    font-weight: bold;
    transition-duration: 0.35s;
}

